body {
  background-color: whitesmoke;
}

.top-bar {
  position: fixed;
  background-color: skyblue;
  opacity: 0.85;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.github-pic{
  padding-top: 15px;
}

.linkedin-pic{
  padding-top: 15px;
}

.page-header{
  font-size: 48px;                /* make the link bigger */
  font-family: 'Helvetica', sans-serif;  /* clean, modern font */
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.bio{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: 'Helvetica', Times, serif;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}

.left-links{
  font-size: 35px;                /* make the link bigger */
  font-family: 'Helvetica', sans-serif;  /* clean, modern font */
  padding-left: 25px;
}

.middle-links{
  font-size: 35px;   
  font-family: 'Helvetica', sans-serif;
  display: flex;
  justify-content: space-evenly;
  gap: 50px; 
  padding-top: 15px;
}

.right-links a{
  font-size: 35px;                /* make the link bigger */
  font-family: 'Helvetica', sans-serif;  /* clean, modern font */
  text-decoration: none;
  padding-right: 25px;
}

.headshot {
  padding-top: 30px;
  border-radius: 50%;
}

.headshot-container{
  display: flex;
  justify-content: center;
}

.about-me{
  font-size: 48px;                /* make the link bigger */
  font-family: 'Helvetica', sans-serif;  /* clean, modern font */
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.links-container {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  gap: 30px;
}

.link-box {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  font-size: 20px; 
  text-align: center;
}

.subpage-content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  gap: 50px;
}

.content-box{
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  font-size: 20px; 
  gap: 20px;
  display: flex;
  align-items: center;
}

.context-text{
  display: flex;
  flex-direction: column;
}

.link-text{
  font-size: 22px;
}