html, body {
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
}

body {
  background-color: whitesmoke;
  overflow-x: hidden;
}

a:link{
  color: black;
}

a:visited{
  color: black;
}

a:hover {
  color: darkgray;
}

a:active {
  color: black;
  text-decoration: none;
}

.top-bar {
  position: fixed;
  background-color: skyblue;
  opacity: 0.85;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

.github-pic{
  padding-top: 15px;
}

.linkedin-pic{
  padding-top: 15px;
}

.page-header{
  font-size: 48px;                /* make the link bigger */
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.bio{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}

.left-links{
  font-size: 35px;                /* make the link bigger */
  padding-left: 25px;
}

.middle-links{
  font-size: 35px;   
  display: flex;
  justify-content: space-evenly;
  gap: 50px; 
  padding-top: 15px;
}

.right-links a{
  font-size: 35px;                /* make the link bigger */
  text-decoration: none;
  padding-right: 25px;
}

.headshot {
  padding-top: 30px;
  border-radius: 50%;
}

.headshot-container{
  display: flex;
  justify-content: center;
}

.about-me{
  font-size: 48px;                /* make the link bigger */
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.links-container {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  gap: 30px;
  flex-wrap: wrap;
}

.link-box {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  font-size: 20px; 
  text-align: center;
  width: 350px;
}

.subpage-content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  gap: 50px;
}

.content-box{
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  font-size: 20px; 
  gap: 20px;
  display: flex;
  align-items: center;
}

.link-box{
  background-color: skyblue;
  opacity: 0.85;
}

.link-header{
  font-size: 36px;
}

.link-text{
  font-size: 18px;
}

.content-text {
  display: flex;
  flex-direction: column;
}

.project-link a{
  color: blue;
}

.carousel {
  margin: 100px auto;
  width: 100%;
  display: flex;
  overflow-x: auto;
}
.carousel::-webkit-scrollbar{
  display: none;
}
.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 180s infinite linear;
  padding-right: 1em;
}
.card-img{
  height: auto;
  width: 5em;
  border-radius: 5%;
  overflow: hidden;
  display: block;
}

.card{
  flex: 0 0 5em;
  height: 5em;
  width: 5em;
  font-size: 3rem;
  border-radius: .2em;
  text-align: center;
  align-content: center;
}

.page-content {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  width: 100vw;
}

@keyframes spin {
  from {translate: 0;}
  to {translate: -100%}
}

.page-header-video {
  position: absolute;   
  top: 20%;             
  left: 50%;            
  transform: translateX(-50%); 
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0,0,0,0.5); /* optional: makes text readable */
}

.page-header-highlight-video {
  position: relative;           
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0,0,0,0.5); /* optional: makes text readable */
}

.video-container {
  display: flex;
  width: 100vw;
  position: relative;
  z-index: -1;
}

.highlight-content-box{
  border: 1px solid white;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  font-size: 20px; 
  gap: 20px;
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  max-width: 600px;
}

.highlight-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5vh;
  padding-top: 10vh;
  padding-left: 3vh;
}

.round-button a{
  font-size: 23px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 15px 25px;
  border-radius: 50px;
  position: relative;
  transition: 0.3s;
}

.round-button a:hover {
  background-color: white;
  color: black;
}