body {
  background-color: whitesmoke;
}

.top-bar {
  background-color: skyblue;
}

.left-links{
  font-size: 18px;                /* make the link bigger */
  font-family: 'Helvetica', sans-serif;  /* clean, modern font */
}

.right-links{
  font-size: 18px;                /* make the link bigger */
  font-family: 'Helvetica', sans-serif;  /* clean, modern font */
}

.headshot {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}